# Gradle 构建文件
.gradle/
build/
*/build/

# IDEA
.idea/
*.iml
*.ipr
*.iws
.idea_modules/

# 本地配置
local.properties

# Android Studio
*.apk
*.aar
*.ap_
*.aab
captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# Log Files
*.log

# OS
.DS_Store
Thumbs.db
